<% layout('layouts/boilerplate.ejs')%>




    <h1 class="mb-4">Tutor panel</h1>


    <a href="/students" class="btn btn-info mb-3 col-8">view Students</a>

    <br>
    <a href="/visits" class="btn btn-info col-8">view Completed Sessions</a>


    </div>